
@{
    ViewData["Title"] = "Chec; Your Input";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Check Your Input</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div>
                <p> Password reset link has been sent to ypur email. please check your inbox</p>
            </div>
            <a href="https://mail.google.com/mail/u/0/#inbox">YOUR INBOX</a>
        </div>

    </div>


</div>

