

<div class="row justify-content-center align-items-center mt-5">
    <form class="row Col-12">
        <div class="col-8">
            <input type="text" class="form-control" name="searchInp" id="searchInp" placeholder="Search By Name" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>
</div>

