@model EmployeeViewModel

@{
    ViewData["Title"] = "Create Employee";

}

<h1>Create New Employee</h1>
<br />
<br />


<form asp-action="Create">
    <partial name="PartialViews/CreateEditeEmployeePartial" />

    <input type="submit" class="btn btn-primary" value="Create" /> |
    <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-info">Back To List</a>

</form>
@section ValidationScriptsSection {
    <partial name="_ValidationScriptsPartial" />
}

